USE [master]
GO
/****** Object:  Database [ChuanDoanBenhPhoi]    Script Date: 2022-12-15 03:24:46 PM ******/
CREATE DATABASE [ChuanDoanBenhPhoi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChuanDoanBenhPhoi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ChuanDoanBenhPhoi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChuanDoanBenhPhoi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ChuanDoanBenhPhoi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChuanDoanBenhPhoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChuanDoanBenhPhoi]
GO
/****** Object:  User [NgonNguKichBan]    Script Date: 2022-12-15 03:24:46 PM ******/
CREATE USER [NgonNguKichBan] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ket_Luan]    Script Date: 2022-12-15 03:24:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ket_Luan](
	[Ma_Ket_Luan] [varchar](50) NOT NULL,
	[Ten_Ket_Luan] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ket_Luan] PRIMARY KEY CLUSTERED 
(
	[Ma_Ket_Luan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Luat]    Script Date: 2022-12-15 03:24:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luat](
	[Ma_Tap_Luat] [varchar](50) NOT NULL,
	[Cac_Trieu_Chung] [nvarchar](255) NULL,
	[Ket_Luan] [nvarchar](255) NULL,
 CONSTRAINT [PK_Luat] PRIMARY KEY CLUSTERED 
(
	[Ma_Tap_Luat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trieu_chung]    Script Date: 2022-12-15 03:24:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trieu_chung](
	[Ma_Trieu_Chung] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Trieu_Chung] [nvarchar](255) NULL,
	[Checkbox] [char](10) NULL,
 CONSTRAINT [PK_Trieu_chung] PRIMARY KEY CLUSTERED 
(
	[Ma_Trieu_Chung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ket_Luan] ([Ma_Ket_Luan], [Ten_Ket_Luan]) VALUES (N'KL1', N'Viêm phổi')
INSERT [dbo].[Ket_Luan] ([Ma_Ket_Luan], [Ten_Ket_Luan]) VALUES (N'KL10', N'Bệnh bụi phổi')
INSERT [dbo].[Ket_Luan] ([Ma_Ket_Luan], [Ten_Ket_Luan]) VALUES (N'KL11', N'Tăng huyết áp động mạch phổi')
GO
INSERT [dbo].[Luat] ([Ma_Tap_Luat], [Cac_Trieu_Chung], [Ket_Luan]) VALUES (N'L1', N'1,KL10,4', N'KL1')
INSERT [dbo].[Luat] ([Ma_Tap_Luat], [Cac_Trieu_Chung], [Ket_Luan]) VALUES (N'L10', N'2,5,3,20', N'KL10')
INSERT [dbo].[Luat] ([Ma_Tap_Luat], [Cac_Trieu_Chung], [Ket_Luan]) VALUES (N'L11', N'5,10,1,3,22', N'KL11')
GO
SET IDENTITY_INSERT [dbo].[Trieu_chung] ON 

INSERT [dbo].[Trieu_chung] ([Ma_Trieu_Chung], [Ten_Trieu_Chung], [Checkbox]) VALUES (1, N'Sốt, mệt mỏi', N'false     ')
INSERT [dbo].[Trieu_chung] ([Ma_Trieu_Chung], [Ten_Trieu_Chung], [Checkbox]) VALUES (2, N'Ho khạc đờm', N'false     ')
INSERT [dbo].[Trieu_chung] ([Ma_Trieu_Chung], [Ten_Trieu_Chung], [Checkbox]) VALUES (3, N'Đau ngực khi ho, thở', N'false     ')
SET IDENTITY_INSERT [dbo].[Trieu_chung] OFF
GO
ALTER TABLE [dbo].[Trieu_chung] ADD  CONSTRAINT [DF_Trieu_chung_Checkbox]  DEFAULT ('false') FOR [Checkbox]
GO
USE [master]
GO
